


.bs {
    color: #99999980;
}

.bs:hover {
    color: #be13f880;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    /* background: linear-gradient(to right,#380D37, #DC275C ); */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.button:hover {
    background: linear-gradient(to right, #DC275C, #380D37);
}

.slider {
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    color: #fff;
}

.slider-card {
    background: #fff;
    /* padding: 0px 0px; */
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    width: 365px
}




@media (max-width: 1280px) {
    .slider-card {
        width: 280px;
    }

    .leo-h {
        font-size: 18px;
    }

    .leo-h1 {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .leo-p {
        font-size: 10px;
    }

    .leo-p1 {
        font-size: 13px;
        line-height: 20.13px;
    }

    .client-img {
        width: 64px;
        height: 64px;
    }

    .star-div {
        margin-top: 34px;
    }

    .star {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 1024px) {
    .slider-card {
        width: 450px;
        margin: 50px auto;
    }

    .leo-h {
        font-size: 18px;
    }

    .leo-h1 {
        font-size: 24px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .leo-p {
        font-size: 14px;
    }

    .leo-p1 {
        font-size: 18px;
        line-height: 30.13px;
    }

    .client-img {
        width: 70px;
        height: 70px;
    }

    .star-div {
        margin-top: 27px;
    }

    .star {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .slider-card {
        width: 380px;
        margin: 50px auto;
    }

    .leo-h {
        font-size: 18px;
    }

    .leo-h1 {
        font-size: 24px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .leo-p {
        font-size: 13px;
    }

    .leo-p1 {
        font-size: 18px;
        line-height: 26.13px;
    }

    .client-img {
        width: 64px;
        height: 64px;
    }

    .star-div {
        margin-top: 27px;
    }

    .star {
        width: 30px !important;
        height: 30px !important;
    }

    /* .arrow{
                width:40px !important;
                height:40px !important;
                } */

    .owl-nav {
        gap: 190px;
        transform: translateY(36px);
    }
}


@media (max-width: 640px) {
    .slider-card {
        width: 280px;
    }

    .leo-h {
        font-size: 18px;
    }

    .leo-h1 {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .leo-p {
        font-size: 10px;
    }

    .leo-p1 {
        font-size: 13px;
        line-height: 20.13px;
    }

    .client-img {
        width: 64px;
        height: 64px;
    }

    .star-div {
        margin-top: 34px;
    }

    .star {
        width: 18px !important;
        height: 18px !important;
    }

    .owl-dots .owl-dot {
        height: 12px !important;
        width: 12px !important;
        border-radius: 10px;
        background: #C5C5C5 !important;
        margin-left: 4px !important;
        margin-right: 4px !important;
        outline: none;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }

    .owl-nav {
        gap: 130px !important;
        transform: translateY(32px) !important;
    }

    .btn-12 {
        width: 100px;
        height: 36px;
    }

    .btn-12 span {
        width: 100px;
        height: 36px;
    }

}


.slider-card img {
    border-radius: 4px 4px 0px 0px;
}

.owl-nav .owl-prev {
    /* position: absolute; */
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    /* position: absolute; */
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    gap: 190px;
    transform: translateY(36px);
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    height: 17px;
    width: 17px;
    border-radius: 10px;
    background: #C5C5C5 !important;
    margin-left: 8px;
    margin-right: 8px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #353535 !important;
}


btn-12 {
    /* color: #000; */
    position: relative;
    right: 20px;
    top: 20px;
    border: none;
    width: 116px;
    height: 44px;
    line-height: 23.12px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.btn-12 span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 116px;
    height: 44px;
    /* border: 1px solid #0bf4f3; */
    /* box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset; */
    border-radius: 4px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .7s;
    transition: all .7s;
    background: linear-gradient(to right, #380D37, #DC275C);
    color: #fff;
    font-family: jost;
}

.btn-12 span:nth-child(1) {
    /* box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset; */
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: linear-gradient(to right, #380D37, #DC275C);
    box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
    color: #f2f2f2;
    border: 1px solid #0bf4f3;
}

.btn-12:hover span:nth-child(2) {
    background: #380D37;
    color: #000;
    box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    border: 1px solid #0bf4f3;
}


.custom-btn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 500;
    /* background: transparent; */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* background:linear-gradient(#380D37,#DC275C); */
}

.btn-7 {
    /* background: #8ce437; */
    line-height: 40px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px #8ce437;
}

.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-7:hover {
    background: #380D37;
}

.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #8ce437;
    box-shadow: 0px 0px 5px #8ce437;
}

.btn-7:before {
    right: 0;
    top: 0;
    transition: all 1000ms ease;
}

.btn-7:after {
    left: 0;
    bottom: 0;
    transition: all 1000ms ease;
}

.btn-7:hover:before {
    transition: all 1000ms ease;
    height: 100%;
    background: linear-gradient(#380D37, #DC275C);
}

.btn-7:hover:after {
    transition: all 1000ms ease;
    height: 100%;
    background: linear-gradient(#380D37, #DC275C);
}

.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    background: #8ce437;
    box-shadow: 0 0 5px #8ce437;
}

.btn-7 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 1000ms ease;
}

.btn-7 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 1000ms ease;
}

.btn-7 span:hover:before {
    width: 100%;
    /* background:linear-gradient(#380D37,#DC275C); */
}

.btn-7 span:hover:after {
    width: 100%;
    /* background:linear-gradient(#380D37,#DC275C); */
}


.custom-btn6 {
    color: #fff;
    width: 116px;
    height: 44px;
    padding: 10px 25px;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 500;
    /* background: transparent; */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* background:linear-gradient(#380D37,#DC275C); */
}

.btn-6 {
    /* background: #8ce436; */
    line-height: 40px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px #8ce436;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:hover {
    background: #380D37;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #8ce436;
    box-shadow: 0px 0px 5px #8ce436;
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 1000ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 1000ms ease;
}

.btn-6:hover:before {
    transition: all 1000ms ease;
    height: 100%;
    background: linear-gradient(#380D37, #DC275C);
}

.btn-6:hover:after {
    transition: all 1000ms ease;
    height: 100%;
    background: linear-gradient(#380D37, #DC275C);
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: #8ce436;
    box-shadow: 0 0 5px #8ce436;
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 1000ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 1000ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
    /* background:linear-gradient(#380D37,#DC275C); */
}

.btn-6 span:hover:after {
    width: 100%;
    /* background:linear-gradient(#380D37,#DC275C); */
}